@model SeatBookingCart
<h2>Giỏ hàng của bạn</h2>
<table class="table">
    <thead>
        <tr>
            <th scope="col">Tên Phim</th>
            <th scope="col">Khung giờ</th>
            <th scope="col">Rạp</th>
            <th scope="col">Địa chỉ</th>
            <th scope="col">Số Ghế</th>
            <th scope="col">Giá</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Items)
        {
            <tr>
                <td>@item.MovieName</td>
                <td>@item.TimeSlot</td>
                <td>@item.CinemaName</td>
                <td>@item.CinemaLocation</td>
                <td>@item.SeatCode</td>
                <td>@item.Price</td>
                <td>
                    <a class="btn btn-outline-light" asp-controller="SeatBookingCart" asp-action="RemoveFromCart" asp-route-seatId="@item.SeatId">Xóa</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<a type="submit" class="btn btn-outline-light bg-blue"  asp-action="Checkout">Xác nhận thanh toán</a>

<a class="btn btn-outline-light bg-blue " asp-area="" asp-controller="Movie" asp-action="Index">Về trang chính</a>
